@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap";

@import "https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap";

#eos-pre-register
{
	position:relative;
	margin:0;
	padding:0;
	box-sizing:border-box;
	overflow:hidden;
	background-color:#050205
}

#eos-pre-register .support-login-container
{
	position:fixed;
	right:30px;
	bottom:30px;
	border-radius:30px 8px 30px 30px;
	background-color:#006063;
	box-shadow:none;
	color:#FFF;
	z-index:2247483647;
	cursor:pointer;
	padding:8px;
	transition:all .1s ease;
	font-family:"Nunito";
	font-weight:600;
	font-size:14px;
	text-transform:uppercase;
	line-height:25px
}

#eos-pre-register .side-banner-wrapper
{
	position:fixed;
	bottom:50px;
	right:10px;
	width:320px;
	z-index:11
}

#eos-pre-register .side-banner-wrapper .banner-content
{
	width:100%
}

#eos-pre-register .side-banner-wrapper .banner-content>img
{
	width:100%;
	transition:all .3s ease
}

#eos-pre-register .side-banner-wrapper .banner-content>img:hover
{
	filter:hue-rotate(15deg)
}

#eos-pre-register .side-banner-wrapper.show-banner
{
	right:10px;
	opacity:1;
	transition:all .6s ease-in
}

#eos-pre-register .side-banner-wrapper.hide-banner
{
	right:-384px;
	opacity:0;
	transition:all .6s ease-in
}

#eos-pre-register #pr-section-1
{
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:1920px;
	height:930px;
	z-index:2;
	display:flex;
	flex-direction:column;
	justify-items:flex-start;
	align-items:center;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover
}

#eos-pre-register #pr-section-1 #sec-01-video-wrapper
{
	position:relative;
	z-index:0;
	width:100%
}

#eos-pre-register #pr-section-1 #sec-01-video-wrapper #sec-01-video
{
	position:absolute;
	width:100%;
	height:930px;
	object-fit:cover;
	object-position:top;
	top:0;
	left:50%;
	transform:translateX(-50%);
	z-index:1
}

#eos-pre-register #pr-section-1 #sec-01-video-wrapper #overwrap-cover
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:930px;
	z-index:1;
	background-repeat:repeat
}

#eos-pre-register #pr-section-1 .top_logo_wrapper
{
	z-index:3;
	position:absolute;
	top:13px;
	width:100%;
	padding:0 45px;
	display:flex;
	justify-content:space-between;
	align-items:center
}

#eos-pre-register #pr-section-1 .main-content-container
{
	position:relative;
	padding-top:160px;
	width:100%;
	height:100%;
	max-width:650px;
	display:flex;
	flex-direction:column;
	justify-items:flex-start;
	align-items:center
}

#eos-pre-register #pr-section-1 .main-content-container .main-logo
{
	width:100%;
	max-width:642px;
	opacity:0
}

#eos-pre-register #pr-section-1 .main-content-container .btn-trailer-wrapper
{
	position:relative;
	margin-top:32px;
	width:130px;
	opacity:0
}

#eos-pre-register #pr-section-1 .main-content-container .btn-trailer-wrapper .btn-normal
{
	width:100%;
	transition:all .3s ease
}

#eos-pre-register #pr-section-1 .main-content-container .btn-trailer-wrapper:hover .btn-normal
{
	transform:scale(0.95);
	filter:hue-rotate(25deg)
}

#eos-pre-register #pr-section-1 .main-content-container .btn-pre-wrapper
{
	position:relative;
	margin-top:35px;
	width:100%;
	max-width:410px;
	opacity:0
}

#eos-pre-register #pr-section-1 .main-content-container .btn-pre-wrapper .btn-normal
{
	width:100%;
	transition:all .3s ease
}

#eos-pre-register #pr-section-1 .main-content-container .btn-pre-wrapper:hover .btn-normal
{
	transform:scale(0.95);
	filter:hue-rotate(25deg)
}

#eos-pre-register #pr-section-1 .main-content-container .down-scroll-img
{
	margin-top:65px;
	width:100%;
	max-width:33px;
	opacity:0
}

#eos-pre-register #pr-section-2
{
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:1920px;
	height:1014px;
	padding-top:100px;
	z-index:1;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover
}

#eos-pre-register #pr-section-2 .title-img
{
	width:100%;
	max-width:625px;
	z-index:10
}

#eos-pre-register #pr-section-2 .world-img
{
	position:absolute;
	top:400px;
	left:60%;
	transform:translateX(-50%);
	width:100%;
	max-width:796px;
	z-index:11
}

#eos-pre-register #pr-section-2 .world-desc-img
{
	position:absolute;
	top:460px;
	left:33%;
	transform:translateX(-50%);
	width:100%;
	max-width:585px;
	z-index:12
}

#eos-pre-register #pr-section-2 .char-01-img
{
	position:absolute;
	bottom:0;
	left:0;
	transform:translateX(-50%);
	width:100%;
	max-width:536px;
	z-index:2
}

#eos-pre-register #pr-section-2 .sub-character
{
	position:absolute;
	width:45%;
	min-width:658px;
	z-index:0;
	left:0;
	bottom:0
}

#eos-pre-register #pr-section-3
{
	position:relative;
	margin:0 auto;
	padding-top:100px;
	padding-left:20px;
	padding-right:20px;
	width:100%;
	max-width:1920px;
	min-height:1151px;
	z-index:1;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover
}

#eos-pre-register #pr-section-3 .divider
{
	position:absolute;
	top:-1px;
	left:50%;
	transform:translateX(-50%);
	width:100%;
	max-width:1920px
}

#eos-pre-register #pr-section-3 .sub-section-3-1
{
	position:relative;
	margin:0 auto;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	text-align:center
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .title-img
{
	position:relative;
	z-index:10;
	width:100%;
	max-width:625px
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .title-desc
{
	position:relative;
	z-index:10;
	margin-top:-20px;
	width:100%;
	max-width:620px;
	font-family:"Roboto",sans-serif;
	font-size:20px;
	text-align:center;
	line-height:24px;
	letter-spacing:.82px;
	color:#EEE;
	text-shadow:0 2px 4px rgba(0,0,0,0.8)
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .reward-wrapper
{
	position:relative;
	z-index:10;
	margin-top:30px;
	width:100%;
	max-width:1068px
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .reward-wrapper .reward-img
{
	width:100%
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .m-reward-wrapper
{
	position:relative;
	z-index:10;
	margin-top:30px;
	width:100%;
	max-width:440px;
	display:none;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .m-reward-wrapper .reward-img
{
	width:100%
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper
{
	position:relative;
	z-index:10;
	width:100%;
	max-width:800px;
	margin:0 auto;
	margin-top:10px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper .pre-register-wrapper
{
	margin-top:20px;
	margin-right:15px;
	width:100%;
	max-width:580px;
	min-width:320px;
	height:70px;
	background-color:#FFF;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper .pre-register-wrapper .email-box
{
	width:32px;
	margin:auto 16px;
	top:50%;
	transform:translate(-50% 0)
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper .pre-register-wrapper .write-email-box
{
	background-color:#FFF;
	color:#757575;
	font-family:"Roboto";
	font-size:22px;
	font-weight:700;
	line-height:26px;
	border:none;
	width:100%;
	height:100%
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper .pre-register-wrapper .write-email-box:focus
{
	outline:none
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper .pre-register-now
{
	position:relative;
	margin-top:28px;
	cursor:pointer;
	width:100%;
	max-width:195px
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper .pre-register-now .btn-normal
{
	width:100%;
	transition:all .3s ease
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .content-wrapper .pre-register-now:hover .btn-normal
{
	transform:scale(0.96);
	filter:hue-rotate(25deg)
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .check-agree
{
	position:relative;
	z-index:10;
	margin-top:20px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .check-agree .agree-chkbox
{
	display:none
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .check-agree input[type=checkbox]+.agree-text::before
{
	content:'';
	margin-left:5px;
	margin-right:5px;
	margin-bottom:-3px;
	display:inline-block;
	width:18px;
	height:18px;
	border-radius:50%;
	border:1px solid #979797;
	-webkit-transition:all 0.2s,transform .3s ease-in-out;
	transition:all 0.2s,transform .3s ease-in-out;
	background-color:#FFF
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .check-agree input[type=checkbox]:checked+.agree-text::before
{
	width:18px;
	height:18px;
	border-radius:50%;
	border:2px solid #FFF;
	background-color:#333
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .check-agree .agree-text
{
	color:#EEE;
	font-family:"Roboto",sans-serif;
	font-size:16px;
	line-height:18px;
	text-shadow:0 2px 4px rgba(0,0,0,0.8)
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .check-agree .agree-text .style-link
{
	color:#C2F5FF;
	text-decoration:underline
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .check-agree .agree-text.style-attention
{
	color:red;
	font-weight:700
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .cont-desc-2
{
	position:relative;
	z-index:10;
	width:94%;
	max-width:620px;
	margin-top:20px;
	color:#EEE;
	font-family:"Roboto",sans-serif;
	font-size:16px;
	line-height:18px;
	text-align:center;
	text-shadow:0 2px 4px rgba(0,0,0,0.8)
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .cont-desc-2 .style-link
{
	color:#C2F5FF;
	text-decoration:underline
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .sns-wrapper
{
	position:relative;
	z-index:10;
	margin-top:30px;
	margin-bottom:80px;
	width:100%;
	max-width:280px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
    margin-left:-140px;
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .sns-wrapper .sns-button
{
	margin-top:10px;
	width:45px;
	cursor:pointer
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .sns-wrapper .sns-button .sns-image
{
	width:100%;
	transition:all .3s ease
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .sns-wrapper .sns-button:hover .sns-image
{
	transform:scale(0.96)
}

#eos-pre-register #pr-section-3 .sub-section-3-1 .sub-character
{
	position:absolute;
	width:100%;
	max-width:637px;
	z-index:0;
	right:0;
	bottom:0
}

#eos-pre-register #pr-section-3 .footer-wrapper
{
	position:relative;
	margin-top:0;
	padding-bottom:20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
	width:calc(100% + 40px);
	margin-left:-20px;
	z-index:1
}

#eos-pre-register #pr-section-3 .footer-wrapper .footer--line
{
	height:1px;
	width:100vw;
	transform:translateY(-1px);
	background-color:rgba(161,161,161,0.8);
	margin-bottom:15px
}

#eos-pre-register #pr-section-3 .footer-wrapper .footer-left
{
	width:30%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center
}

#eos-pre-register #pr-section-3 .footer-wrapper .footer-left .company--logo1
{
	margin-top:5px;
	width:100%;
	max-width:120px;
	margin-left:20px
}

#eos-pre-register #pr-section-3 .footer-wrapper .footer-left .company--logo2
{
	margin-top:5px;
	width:100%;
	max-width:105px;
	margin-left:20px;
	margin-bottom:5px
}

#eos-pre-register #pr-section-3 .footer-wrapper .footer-middle
{
	width:40%;
	padding:0 5px;
	text-align:center;
	color:#A1A1A1;
	font-size:12px;
	line-height:15px;
	font-family:".SF NS Display"
}

#eos-pre-register #pr-section-3 .footer-wrapper .footer-right
{
	width:30%;
	padding-right:20px;
	display:flex;
	justify-content:flex-end;
	flex-wrap:wrap;
	text-align:right
}

#eos-pre-register #pr-section-3 .footer-wrapper .footer-right .policy
{
	text-decoration:none;
	color:#A1A1A1;
	font-size:11px;
	line-height:13px;
	font-family:".SF NS Display";
	cursor:pointer
}

#eos-pre-register .popup-window
{
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	z-index:2000
}

#eos-pre-register .popup-window .popup-container
{
	position:absolute;
	width:90%;
	max-width:487px;
	min-width:300px;
	height:auto;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#2E3338E6 0 0 no-repeat padding-box;
	box-shadow:0 0 10px #4A89B8;
	padding:15px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center
}

#eos-pre-register .popup-window .popup-container .popup-description
{
	width:100%;
	color:#FFF;
	font-family:"Roboto",sans-serif;
	font-size:20px;
	font-weight:500;
	line-height:24px;
	text-align:center
}

#eos-pre-register .popup-window .popup-container .btn-close
{
	margin-top:20px;
	width:112px;
	height:48px;
	background-color:#427DCE;
	font-family:'Roboto',sans-serif;
	font-size:24px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#FFF;
	font-weight:900;
	cursor:pointer
}

@media screen and (max-width: 1200px) {
	#eos-pre-register #pr-section-2 .char-01-img
	{
		left:5%!important;
		width:505px!important
	}
	
	#eos-pre-register #pr-section-3 .sub-section-3-1 .sub-character
	{
		right:-100px!important
	}
}

@media screen and (max-width: 991px) {
	#eos-pre-register #pr-section-2
	{
		height:auto;
		padding-left:20px;
		padding-right:20px
	}
	
	#eos-pre-register #pr-section-2 .world-img
	{
		position:relative;
		top:0;
		left:0;
		transform:translateX(0%)
	}
	
	#eos-pre-register #pr-section-2 .world-desc-img
	{
		position:relative;
		top:0;
		left:0;
		max-width:796px;
		transform:translateX(0%);
		margin-bottom:60px
	}
	
	#eos-pre-register #pr-section-2 .char-01-img
	{
		display:none
	}
	
	#eos-pre-register #pr-section-3 .sub-section-3-1 .sub-character
	{
		display:none
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper .footer-left
	{
		flex-direction:column;
		align-items:flex-start
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper .footer-left .company--logo2
	{
		margin-left:25px
	}
}

@media screen and (max-width: 741px) {
	#eos-pre-register #pr-section-3 .sub-section-3-1 .reward-wrapper
	{
		display:none
	}
	
	#eos-pre-register #pr-section-3 .sub-section-3-1 .m-reward-wrapper
	{
		display:block
	}
	
	#eos-pre-register #pr-section-3 .content-wrapper
	{
		flex-wrap:wrap
	}
	
	#eos-pre-register #pr-section-3 .content-wrapper .cont-reward .cont-reward-img
	{
		max-width:440px
	}
}

@media screen and (max-width: 521px) {
	#eos-pre-register #pr-section-1
	{
		height:800px
	}
	
	#eos-pre-register #pr-section-1 .top_logo_wrapper
	{
		display:none
	}
	
	#eos-pre-register #pr-section-1 .main-content-container
	{
		padding-top:100px
	}
	
	#eos-pre-register #pr-section-1 .main-content-container .main-logo
	{
		width:400px;
		margin-bottom:40px
	}
	
	#eos-pre-register #pr-section-1 .main-content-container .btn-pre-wrapper
	{
		width:380px;
		margin-top:60px
	}
	
	#eos-pre-register #pr-section-1 #sec-01-video-wrapper #sec-01-video
	{
		height:800px
	}
	
	#eos-pre-register #pr-section-1 #sec-01-video-wrapper #overwrap-cover
	{
		height:800px
	}
	
	#eos-pre-register #pr-section-2 .title-img
	{
		width:400px
	}
	
	#eos-pre-register #pr-section-2 .world-img
	{
		margin-top:20px;
		width:400px
	}
	
	#eos-pre-register #pr-section-2 .world-desc-img
	{
		width:400px;
		margin-bottom:60px
	}
	
	#eos-pre-register #pr-section-3 .sub-section-3-1 .title-desc
	{
		margin-top:-10px
	}
	
	#eos-pre-register #pr-section-3 .sub-section-3-1 .m-reward-wrapper
	{
		max-width:400px
	}
	
	#eos-pre-register #pr-section-3 .sub-section-3-1 .sns-wrapper
	{
		flex-direction:column;
		margin-bottom:60px
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper
	{
		flex-direction:column;
		justify-content:flex-start;
		align-items:center
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper .footer-left
	{
		flex-direction:row;
		justify-content:center;
		align-items:center;
		width:100%
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper .footer-left .company--logo1
	{
		width:95px;
		margin-left:10px
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper .footer-left .company--logo2
	{
		width:85px;
		margin-left:15px
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper .footer-middle
	{
		margin-top:10px;
		width:100%
	}
	
	#eos-pre-register #pr-section-3 .footer-wrapper .footer-right
	{
		margin-top:5px;
		width:100%;
		justify-content:center
	}
}

@media screen and (max-width: 421px) {
	#eos-pre-register #pr-section-1
	{
		height:670px
	}
	
	#eos-pre-register #pr-section-1 .top_logo_wrapper
	{
		display:none
	}
	
	#eos-pre-register #pr-section-1 .main-content-container
	{
		padding-top:70px
	}
	
	#eos-pre-register #pr-section-1 .main-content-container .main-logo
	{
		width:300px;
		margin-bottom:0
	}
	
	#eos-pre-register #pr-section-1 .main-content-container .btn-pre-wrapper
	{
		width:300px;
		margin-top:30px
	}
	
	#eos-pre-register #pr-section-1 .main-content-container .down-scroll-img
	{
		margin-top:120px
	}
	
	#eos-pre-register #pr-section-1 #sec-01-video-wrapper #sec-01-video
	{
		height:670px
	}
	
	#eos-pre-register #pr-section-1 #sec-01-video-wrapper #overwrap-cover
	{
		height:670px
	}
	
	#eos-pre-register #pr-section-2 .title-img
	{
		width:320px
	}
	
	#eos-pre-register #pr-section-2 .world-img
	{
		width:320px
	}
	
	#eos-pre-register #pr-section-2 .world-desc-img
	{
		width:320px
	}
	
	#eos-pre-register #pr-section-3 .sub-section-3-1 .m-reward-wrapper
	{
		max-width:320px
	}
	
	#eos-pre-register .popup-window .popup-container .popup-description .strong-font
	{
		font-size:18px
	}
}